* {
    box-sizing: border-box;
    margin: 0;
    outline-color: #1abc9c;
    padding: 0;
}

html, body {
    width: 540px;
}

body {
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 14px;
}
