div.slider {
    display: inline-block;
    padding: 5px;
    text-align: center;
    width: 50px;
}

div.label {
    font-weight: bold;
    margin-bottom: 5px;
}

div.range {
    position: relative;
    height: 200px;
}

div.range input {
    -webkit-appearance: none;
    background: radial-gradient(ellipse 1px 100% at  6% 50%, #ccc 0%, #ccc 99%, rgba(255, 255, 255, 0) 100%),
                radial-gradient(ellipse 1px 100% at 17% 50%, #ccc 0%, #ccc 99%, rgba(255, 255, 255, 0) 100%),
                radial-gradient(ellipse 1px 100% at 28% 50%, #ccc 0%, #ccc 99%, rgba(255, 255, 255, 0) 100%),
                radial-gradient(ellipse 1px 100% at 39% 50%, #ccc 0%, #ccc 99%, rgba(255, 255, 255, 0) 100%),
                radial-gradient(ellipse 1px 100% at 50% 50%, #aaa 0%, #aaa 99%, rgba(255, 255, 255, 0) 100%),
                radial-gradient(ellipse 1px 100% at 61% 50%, #ccc 0%, #ccc 99%, rgba(255, 255, 255, 0) 100%),
                radial-gradient(ellipse 1px 100% at 72% 50%, #ccc 0%, #ccc 99%, rgba(255, 255, 255, 0) 100%),
                radial-gradient(ellipse 1px 100% at 83% 50%, #ccc 0%, #ccc 99%, rgba(255, 255, 255, 0) 100%),
                radial-gradient(ellipse 1px 100% at 94% 50%, #ccc 0%, #ccc 99%, rgba(255, 255, 255, 0) 100%);
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 200px;
}

div.range input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: linear-gradient(to left, #1abc9c 0%, #16a085 100%) 0 0 repeat-y, #ccc;
    background-size: 100% 100%, 100%;
    border-radius: 4px;
    box-sizing: border-box;
    height: 0;
    padding: 4px 0;
}

div.range.disabled input::-webkit-slider-runnable-track {
    background: linear-gradient(to left, #aaa 0%, #999 100%) 0 0 repeat-y, #ccc;
}

div.range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: linear-gradient(to left, #eee 0%, white 100%);
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: -1px 0 1px #999;
    cursor: ns-resize;
    height: 24px;
    margin-top: -12px;
    width: 24px;
}

div.value {
    font-size: 0.8em;
    margin-top: 5px;
}
