header.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    overflow: hidden;
    padding: 5px;
}

header.header div.left {
    float: left;
}

header.header div.right {
    float: right;
}

header.header h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
}

div.equalizer {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}
