div.equalizer {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

div.presets {
    background-color: #ccc;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

div.presets button {
    background: linear-gradient(to bottom, #eee 0%, white 100%);
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0 1px 1px #999;
    cursor: pointer;
    margin: 2px;
    padding: 5px 10px;
}
